@import "../styles/variable";
@import "../mixins/mobile";
.experience_wrapper {
  padding-top: 100px;

  @include mobile {
    padding-top: 80px;
  }

  .exp_wrp_title {
    border-top: $border-text;
    border-bottom: $border-text;
    padding: 30px 0;
    text-transform: uppercase;
    position: relative;
    display: flex;
    gap: 20px;
    overflow: hidden;

    > span {
      font-size: 70px;

      @include mobile {
        font-size: 50px;
      }
    }

    > span:nth-child(3) {
      color: $red;
    }
  }

  .row {
    display: flex;
    gap: 50px;
    padding: 30px 0;
    font-family: $font-manrope;
    letter-spacing: 0.02em;
    line-height: 25px;
    border-top: $border;

    @include mobile {
      flex-direction: column;
    }

    h4 {
      text-transform: capitalize;
      font-size: 1.25rem;
      font-family: $font-clash-reg;
    }

    p {
      font-size: 1rem;
      font-weight: 300;

      @include mobile {
        font-size: 0.9rem;
      }
    }

    ul {
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include mobile {
        font-size: 0.9rem;
      }
    }

    > &_left {
      flex: 1;
    }
    > &_center {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    > &_right {
      flex: 1;

      > span {
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 600;

        @include mobile {
          font-size: 1rem;
        }
      }
    }
  }
}
