@import "../../styles/variable";
@import "../../mixins/mobile";
.section_wrp {
  width: 100%;
  max-width: 1440px;
  margin: 100px auto;
  padding: 2rem;

  @include mobile {
    margin: 50px auto;
  }

  @include mobile {
    padding: 1rem;
  }

  .prj_prj_title {
    border-top: $border-text;
    border-bottom: $border-text;
    padding: 30px 0;
    text-transform: uppercase;
    position: relative;
    display: flex;
    gap: 20px;
    overflow: hidden;
    color: $gray;

    > span {
      font-size: 70px;

      @include mobile {
        font-size: 50px;
      }
    }

    > span:nth-child(3) {
      color: $red;
    }
  }

  .project_cont {
    margin-top: 80px;
    color: $gray;
    font-family: $font-unica-xl;

    @include mobile {
      margin-top: 50px;
    }

    a {
      > article {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: $border;
        padding: 40px 10px;

        h4 {
          font-size: 1.25rem;
          text-transform: capitalize;

          @include mobile {
            font-size: 1rem;
          }
        }

        > .year_count {
          display: flex;
          gap: 7rem;
        }
      }
    }
  }
}
