@import "../../styles/variable";
@import "../../mixins/mobile";

.hero_wrapper {
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 50vh;
  align-items: flex-end;
  font-family: $font-grotesk;

  @include mobile {
    padding: 0 2rem;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 100px;
  }

  > .contact {
    color: $red;
    text-transform: uppercase;
    font-size: 14px;
    flex: 1;
  }

  &_desc {
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 1rem;
    flex: 2;

    .title {
      color: $white;
      font-size: 70px;
      text-transform: capitalize;
      font-weight: 400;
      width: 100%;
      max-width: 40vw;

      @include mobile {
        font-size: 50px;
        max-width: 60vw;
      }
    }

    > p {
      color: $white;
      font-size: 14px;
      width: 100%;
      max-width: 320px;
    }
  }
}
