$black: #000;
$white: #fff;
$gray-2: #e5e5e5;
$gray-3: #808080;
$gray: #f4f4f4;
$red: #ff4d00;
$border: 1px solid hsla(0, 0%, 100%, 0.125);
$border-text: 4px solid hsla(0, 0%, 100%, 0.125);
$font-unica: "Neue Haas Unica";
$font-unica-reg: "Neue Haas Unica Regular";
$font-unica-xl: "Neue Haas Unica ExtraLight";
$font-unica-light: "Neue Haas Unica Light";
$font-clash-reg: "Clash Display Reg";
$font-manrope: "Manrope";
$font-grotesk: "Grotesk";
$mobile: 768px;
$tablet: 769px;
$lg: 1024px;
