* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: none;
}

@font-face {
  font-family: "Neue Haas Unica";
  src: url("../assets/fonts/unica/NeueHaasUnica-Thin.woff") format("woff"),
    url("../assets/fonts/unica/NeueHaasUnica-Thin.woff2") format("woff2"),
    url("../assets/fonts/unica/NeueHaasUnica-Thin.ttf") format("ttf");
}
@font-face {
  font-family: "Neue Haas Unica Regular";
  src: url("../assets/fonts/unica/NeueHaasUnica-Regular.woff") format("woff"),
    url("../assets/fonts/unica/NeueHaasUnica-Regular.woff2") format("woff2"),
    url("../assets/fonts/unica/NeueHaasUnica-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Neue Haas Unica ExtraLight";
  src: url("../assets/fonts/unica/NeueHaasUnica-ExtraLight.woff") format("woff"),
    url("../assets/fonts/unica/NeueHaasUnica-ExtraLight.woff2") format("woff2"),
    url("../assets/fonts/unica/NeueHaasUnica-ExtraLight.ttf") format("ttf");
}
@font-face {
  font-family: "Neue Haas Unica Light";
  src: url("../assets/fonts/unica/NeueHaasUnica-Light.woff") format("woff"),
    url("../assets/fonts/unica/NeueHaasUnica-Light.woff2") format("woff2"),
    url("../assets/fonts/unica/NeueHaasUnica-Light.ttf") format("ttf");
}
@font-face {
  font-family: "Clash Display Reg";
  src: url("../assets/fonts/clash/ClashDisplay-Regular.ttf") format("ttf"),
    url("../assets/fonts/clash/ClashDisplay-Regular.woff") format("woff"),
    url("../assets/fonts/clash/ClashDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/manrope/Manrope-ExtraLight.ttf") format("ttf"),
    url("../assets/fonts/manrope/Manrope-ExtraLight.woff") format("woff"),
    url("../assets/fonts/manrope/Manrope-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Grotesk";
  src: url("../assets/fonts/grotesk/CabinetGrotesk-Regular.ttf") format("ttf"),
    url("../assets/fonts/grotesk/CabinetGrotesk-Regular.woff") format("woff"),
    url("../assets/fonts/grotesk/CabinetGrotesk-Regular.woff2") format("woff2");
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  scroll-behavior: smooth;
}
