@import "../../styles/variable";
@import "../../mixins/mobile";

.section_wrp {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 2rem;
  color: $gray;

  @include mobile {
    padding: 0 1rem;
    margin-top: 50px;
  }

  .abt_abt_title {
    border-top: $border-2;
    border-bottom: $border-2;
    padding: 30px 0;
    text-transform: uppercase;
    position: relative;
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
    overflow: hidden;

    > span {
      font-size: 70px;

      @include mobile {
        font-size: 50px;
      }
    }

    > span:nth-child(3),
    span:nth-child(7) {
      color: $red;
    }
  }
  .row {
    font-family: $font-unica-xl;
    text-transform: uppercase;

    &_text {
      > span {
        font-size: 180px;
        // font-size: 20vh;
        line-height: 0.85;

        @media (min-width: 769px) and (max-width: 1350px) {
          font-size: 90px;
        }
        @media (min-width: 1200px) and (max-width: 1350px) {
          font-size: 150px;
        }

        @include mobile {
          font-size: 90px;
        }

        @include xs-mobile {
          font-size: 12vw;
        }
        @media (max-width: 299px) {
          font-size: 12vw;
        }
      }
    }

    &_text:nth-child(1) {
      margin-left: 16%;
    }
    &_text:nth-child(3) {
      margin-left: 30%;
    }
    &_text:nth-child(4) {
      margin-left: 16%;
    }
  }

  .about_info {
    margin-top: 100px;
    color: $gray;
    font-family: $font-unica-xl;

    .about_info_info {
      max-width: 40rem;
      margin-left: 33%;

      @include mobile {
        margin-left: 0;
      }
      span:nth-child(1) {
        padding-right: 10%;
      }

      .detail_1 {
        font-size: calc(1.25rem + 0.25vw);
        line-height: 1.5;
        font-weight: 300;
      }
    }

    > article {
      margin-top: 100px;
      margin-left: 10%;

      @include mobile {
        margin-left: 0;
      }

      .first_sent {
        text-transform: uppercase;
        color: $gray-3;
        font-family: $font-unica-light;
      }

      .actual_sent {
        font-size: calc(1.75rem + 0.25vw);
        line-height: 1.5;
        font-weight: 300;

        @include mobile {
          font-size: calc(1.5rem + 0.15vw);
        }
      }
    }
  }
}
