@import "../../styles/variable";
@import "../../mixins/mobile";
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 3rem;
  font-family: $font-grotesk;

  .btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: $white;
  }

  .link {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: $white;
  }

  .link.active {
    mix-blend-mode: difference;
    transform: scale(3);
  }
}

// mobile

.mobile_nav_container {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: 1.2s;
  background-color: $black;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 90px;
  z-index: 99;

  //   display: none;

  .links_desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 3rem;

    @include mobile {
      padding-top: 3rem;
      padding-bottom: 0px;
    }

    .btn {
      background-color: transparent;
      border: none;
      font-size: 20px;
      color: $white;
    }

    .link {
      text-decoration: none;
      font-size: 20px;
      text-transform: uppercase;
      color: $white;
    }
  }

  .nav_links {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;

    @include mobile {
      gap: 20px;
    }

    .nav_link {
      color: $white;
      text-align: center;
      text-decoration: none;
      font-size: 100px;
      text-transform: uppercase;

      @include mobile {
        font-size: 60px;
      }
    }
  }

  .links_desc2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 3rem;

    .link {
      text-decoration: none;
      font-size: 20px;
      text-transform: uppercase;
      color: $white;

      @include mobile {
        display: none;
      }
    }
    .external_Links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;

      @include mobile {
        width: 100%;
        gap: 70px;
        justify-content: center;
      }

      .btn_link {
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
        color: $white;
      }
    }
  }
}
.mobile_nav_container_active {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: 1.2s;
  transition-timing-function: ease-in-out;
  transform: translateY(0);
  background-color: $black;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 90px;
  z-index: 99;
}
