@import "../../styles/variable";
@import "../../mixins/mobile";

.preloader_wrapper {
  width: 100%;
  height: 100vh;
  background-color: $white;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  font-family: $font-clash-reg;
  opacity: 1;

  @include mobile {
    padding: 1rem;
  }

  .counts {
    align-self: flex-end;
    font-size: 8rem;
    font-weight: 500;

    @include mobile {
      font-size: 6rem;
    }
  }

  .wrp_wrp {
    height: 100px;
    overflow: hidden;
    left: 2rem;
    z-index: 9999;

    .name {
      font-size: 4rem;
      font-weight: 500;
      text-transform: uppercase;

      @include mobile {
        font-size: 1.8rem;
      }
    }
  }
}
