@import "../styles/variable";

.section_wrp {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  padding: 80px 0;
  color: $gray;

  .abt_abt_title {
    border-top: $border-text;
    border-bottom: $border-text;
    padding: 30px 0;
    text-transform: uppercase;
    position: relative;
    display: flex;
    gap: 20px;
    margin-bottom: 60px;

    > span {
      font-size: 70px;
    }

    > span:nth-child(3),
    span:nth-child(7) {
      color: $red;
    }
  }
  .row {
    font-family: $font-unica-xl;
    text-transform: uppercase;

    &_text {
      > span {
        font-size: 180px;
        line-height: 0.85;
      }
    }

    &_text:nth-child(1) {
      margin-left: 16%;
    }
    &_text:nth-child(3) {
      margin-left: 30%;
    }
    &_text:nth-child(4) {
      margin-left: 16%;
    }
  }

  .about_info {
    margin-top: 100px;
    color: $gray;
    font-family: $font-unica-xl;

    .about_info_info {
      max-width: 40rem;
      margin-left: 33%;

      span:nth-child(1) {
        padding-right: 10%;
      }

      .detail_1 {
        font-size: calc(1.25rem + 0.25vw);
        line-height: 1.5;
        font-weight: 300;
      }
    }

    > article {
      margin-top: 100px;
      margin-left: 10%;

      .first_sent {
        text-transform: uppercase;
        color: $gray-3;
        font-family: $font-unica-light;
      }

      .actual_sent {
        font-size: calc(1.75rem + 0.25vw);
        line-height: 1.5;
        font-weight: 300;
      }
    }
  }
}
