@import "../../styles/variable";

.footer_wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 2rem 0;
  justify-content: center;

  // for the position: fied;
  // padding-top: calc(50vh + 50px);
  // z-index: 99;

  &_right {
    display: flex;
    flex: 1.2;
    flex-direction: column;
    gap: 3rem;
    &_desc {
      color: $white;
      font-size: 40px;
      font-weight: 400;
    }

    .contact {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;

      .title {
        text-transform: uppercase;
        font-size: 12px;
        color: $white;
      }

      button {
        background-color: transparent;
        border: none;
        color: $white;
        font-size: 20px;
      }
    }

    .social_links {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-top: 14rem;

      .title {
        text-transform: uppercase;
        font-size: 12px;
        color: $white;
      }

      ul {
        display: flex;
        gap: 2rem;

        li {
          list-style-type: none;
          color: $white;

          a {
            text-transform: uppercase;
            font-size: 20px;
          }
        }
      }
    }
  }

  .btn_scroll_up {
    flex: 1;
    justify-self: flex-start;
    align-self: flex-end;

    button {
      position: relative;
      background-color: #141414;
      border-radius: 50%;
      border: none;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3rem;
      font-size: 14rem;
      z-index: 1;
      color: #fdeee7;

      .initial {
        justify-content: center;
        overflow: hidden;
        transform: translateY(100%);
        animation: infiniteArrow 1.2s infinite
          cubic-bezier(0.175, 0.885, 0.32, 1.275);

        .b_animate {
          justify-content: center;
          padding: 3rem;
          border-radius: 50%;
        }

        .animated_arrow {
          position: absolute;
          bottom: 0;
          padding: 3rem;
        }
      }
    }

    button:hover {
      color: #dbb59b;
      transition: 0.2s;
      transform: scale(1.1);
      transition: 0.4s;
    }
  }
  @keyframes infiniteArrow {
    100% {
      transform: translateY(0);
    }
  }
}
