@import "../../styles/variable";
@import "../../mixins/mobile";

.footer_wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 2rem;
  justify-content: center;
  font-family: $font-grotesk;

  @include mobile {
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;
  }

  &_right {
    display: flex;
    flex: 1.2;
    flex-direction: column;
    gap: 3rem;

    @include mobile {
      flex: 1;
    }

    &_desc {
      color: $white;
      font-size: 40px;
      font-weight: 400;

      @include mobile {
        max-width: 480px;
        font-size: 30px;
      }
    }

    .contact {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;

      .title {
        text-transform: uppercase;
        font-size: 12px;
        color: $white;

        @include mobile {
          font-size: 8px;
        }
      }

      button {
        background-color: transparent;
        border: none;
        color: $white;
        font-size: 20px;

        @include mobile {
          font-size: 18px;
        }
      }
    }

    .social_links {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-top: 14rem;

      @include mobile {
        padding-top: 2rem;
      }

      .title {
        text-transform: uppercase;
        font-size: 12px;
        color: $white;

        @include mobile {
          font-size: 8px;
        }
      }

      ul {
        display: flex;
        gap: 2rem;

        @media (max-width: 380px) {
          gap: 1.5rem;
        }
        @media (max-width: 299px) {
          gap: 0.8rem;
        }

        li {
          list-style-type: none;
          color: $white;

          a {
            text-transform: uppercase;
            font-size: 20px;

            @include mobile {
              font-size: 18px;
            }

            @media (max-width: 380px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .btn_scroll_up {
    flex: 1;
    justify-self: flex-start;
    align-self: flex-end;

    @include mobile {
      align-self: flex-start;
      justify-self: flex-end;
    }

    button {
      position: relative;
      background-color: #141414;
      border-radius: 50%;
      border: none;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3rem;
      font-size: 14rem;
      z-index: 1;
      color: #fdeee7;
      width: 40vw;
      height: 40vw;

      @media (min-width: 680px) and (max-width: 768px) {
        width: 80vw;
        height: 80vw;
      }

      @include xs-mobile {
        width: 80vw;
        height: 80vw;
      }

      @media (max-width: 299px) {
        width: 80vw;
        height: 80vw;
      }

      .initial {
        justify-content: center;
        overflow: hidden;
        transform: translateY(100%);
        animation: infiniteArrow 1.5s infinite
          cubic-bezier(0.175, 0.885, 0.32, 1.275);

        .b_animate {
          justify-content: center;
          border-radius: 50%;

          @include mobile {
            font-size: 40vw;
          }
        }
      }
    }
  }
  @keyframes infiniteArrow {
    100% {
      transform: translateY(0);
    }
  }
}
