.cursor_ref {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  z-index: 999;
  pointer-events: none;
  background-color: #fff;
}

.follower_ref {
  position: fixed;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: 999;
  pointer-events: none;
  overflow: hidden;
}
